@font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url(../shrift/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    font-weight: 500;
    src: url(../shrift/Roboto-medium.ttf);
}
@font-face {
    font-family: Roboto;
    font-weight: 700;
    src: url(../shrift/Roboto-bold.ttf);
}
@font-face {
    font-family: Roboto;
    font-weight: 900;
    src: url(../shrift/Roboto-black.ttf);
}
@font-face {
    font-family: Raleway;
    font-weight: 700;
    src: url(../shrift/Raleway-Bold.ttf);
}
@font-face {
    font-family: Raleway;
    font-weight: 900;
    src: url(../shrift/Raleway-Black.ttf);
}